@model test0926_MVC.Models.testTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>testTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.charData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.charData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intData)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
